<br/>
<div class="ui text container">
  <div class="ui three buttons">

    {{#link-to "developers" class="ui right floated icon button "}}
      Developers
    {{/link-to}}

    <button class="ui button grey">Projects</button>

    {{#link-to "" dev class="ui right floated icon button "}}
      Stories
    {{/link-to}}
  </div>
  <div class="ui divider"></div>
  <h1>MongoDB TD4</h1>
  {{#link-to "projects.new" class="ui teal button"}}
    <i class="add icon"></i>Ajouter un projet...
  {{/link-to}}
  <table class="ui table ">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>StartDate</th>
      <th>DueDate</th>
      <th>Owner</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model as |pro|}}
        <tr>
          <td>{{pro.name}}</td>
          <td>{{pro.descriptif}}</td>
          <td>{{pro.creationDate}}</td>
          <td>{{pro.duoDate}}</td>
          <td></td>
          <td >
            {{#link-to "projects.edit" pro class="ui right floated basic circular icon button "}}
              <i class="edit icon"></i>
            {{/link-to}}

            {{#link-to "projects.delete" pro class="ui right floated basic circular icon button red"}}
              <i class="remove icon"></i>
            {{/link-to}}


          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{outlet}}
</div>
