<h2>Details</h2>

<div class="list-group-item active ">{{model.nom}}</div>
<div class="list-group-item active">{{model.age}}</div>
<div class="list-group-item active">{{model.details}}</div>
<button class="btn btn-danger" {{action "fermer"}}>Fermer</button>
{{outlet}}
